@import url(/styles/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 375px;
}

ol,
ul {
  padding: 0;
}

li {
  list-style: none;
}

/* > Color palette */
:root {
  --color-heading: hsl(208, 49%, 24%);
  --color-primary: hsl(356, 100%, 66%);
  --color-secondary: hsl(0, 0%, 100%);
  --color-text-footer: hsl(240, 2%, 79%);

  --color-hover-CTA-bg: hsl(355, 100%, 74%);
  --color-footer-bg: hsl(240, 10%, 16%);
  --color-body: hsl(207, 13%, 34%);

  /* Gradients */
  --gradient-CTA: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  --gradient-bg: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
}

/* > Typography */
body {
  font-size: 1.6rem;
  text-align: center;
  font-family: "Overpass", sans-serif;
}

.button {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

header {
  text-align: center;
  color: var(--color-secondary);
}

h1 {
  margin: 2rem 2rem;
}

h2,
h3 {
  font-size: 2.4rem;
  color: var(--color-heading);
}

.infrastructure h2 {
  font-size: 3.5rem;
  line-height: 2.3ch;
  color: var(--color-secondary);
}

.features h2 {
  margin-top: 3rem;
}

h3 {
  margin: 2rem 6rem;
}

p {
  font: 2.2rem;
  line-height: 2.5ch;
  margin: 0 3rem 2rem;
  opacity: 0.8;
}

.design p,
.infrastructure p {
  margin: 0 4rem 2rem;
}

@media screen and (min-width: 750px) {
  .design h3,
  .infrastructure h2 {
    margin-left: 4rem;
  }

  p {
    max-width: 500px;
  }
}

/* >image */
main img {
  width: clamp(200px, 100%, 500px);
}

.logo {
  width: 85px;
  height: 32px;
}

.hamburger-menu {
  width: 30px;
  height: 20px;
}

/* >button */
.hero .button-section {
  margin: 5rem 0;
}

nav .button-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2rem;
  gap: 1rem;
}

nav .button-section::before {
  position: absolute;
  top: -1.8rem;
  content: "";
  width: 85%;
  height: 0;
  border: 1px solid hsla(240, 3%, 79%, 0.391);
}

.button {
  text-decoration: none;
  padding: 1.3rem 2rem;
  border-radius: 100px;
  margin: 0 0.8rem;
  color: var(--color-secondary);
  white-space: nowrap;
}

.button--bg,
.button--border:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

nav .button {
  color: var(--color-heading);
  width: 40%;
}

nav .button--bg {
  color: var(--color-secondary);
  background-image: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
}

.button--bg:hover {
  color: var(--color-secondary);
  background-color: hsla(0, 0%, 100%, 0.209);
}

.button--border {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

@media screen and (min-width: 750px) {
  nav .button-section {
    flex-direction: row;
    font-size: 1.6rem;
  }

  nav .button-section::before {
    display: none;
  }

  nav .button {
    color: var(--color-secondary);
    width: auto;
  }

  nav .button--bg {
    padding: 1.1rem 3.4rem;
    color: var(--color-primary);
    background: var(--color-secondary);
  }
}

/* >container */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* >header */
header {
  height: clamp(550px, 85vh, 700px);
  padding: 5rem 2rem;

  background: url(/images/bg-pattern-intro-mobile.svg), var(--gradient-CTA);
  background-repeat: no-repeat;
  background-size: 350vw, auto;
  background-position: -21.2em -19em, 0;

  border-bottom-left-radius: 100px;
}

header .container:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

header .container:last-child {
  display: grid;
  place-content: center;
  height: 100%;
  padding-bottom: 1rem;
}

nav,
nav ol {
  display: none;
  width: 90%;
}

.open-menu nav {
  position: absolute;
  top: 12rem;
  width: 90%;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 1rem 0 3rem;
  font-weight: bold;
  font-size: 2.2rem;
  color: var(--color-heading);
  box-shadow: 0px 18px 49px -5px rgb(0 0 0 / 43%);
  border-radius: 5px;
  background-color: var(--color-secondary);
  z-index: 2;
}

header.open-menu ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

li {
  position: relative;
  cursor: pointer;
}

li span {
  position: relative;
}

li span::after {
  position: absolute;
  content: url(/images/icon-arrow-dark.svg);

  top: -0.2rem;
  right: -2.5rem;
  width: 20px;
}

.open span {
  color: hsla(208, 49%, 24%, 0.612);
}

.open span::after {
  transform: rotate(180deg);
  top: 0.1rem;
}

nav .open ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 2.5rem;
  padding: 2.5rem;

  border-radius: 5px;
  color: hsla(208, 49%, 24%, 0.612);
  background: hsla(240, 3%, 79%, 0.391);
}

@media screen and (min-width: 750px) {
  header {
    background: url(/images/bg-pattern-intro-desktop.svg),
      linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-repeat: no-repeat;
    background-size: 200vw 180vw, auto;
    background-position: -25vw -150vh, 0;
  }

  header .container:first-child {
    display: flexbox;
    gap: 6rem;
  }

  .hamburger-menu {
    display: none;
  }

  nav,
  nav ul,
  .open-menu nav,
  .open-menu nav ul {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 0;
    font-weight: 300;

    font-size: 1.6rem;
    box-shadow: none;
    color: var(--color-secondary);
    background: transparent;
  }

  .open span {
    color: var(--color-secondary);
  }

  li span::after {
    content: url(/images/icon-arrow-light.svg);
    top: 0;
    right: -2.8rem;
  }

  li span:hover {
    text-decoration: underline;
  }

  nav .open ol {
    position: absolute;
    top: 4rem;
    right: -70%;

    margin: 0;
    text-align: left;
    box-shadow: 0px 11px 27px -3px rgb(0 0 0 / 44%);
    background-color: var(--color-secondary);
  }

  ol li:hover {
    color: var(--color-heading);
  }
}

/* >Design section */
.design {
  margin: 10rem auto;
}

.design section {
  margin: 4rem 0;
}

@media screen and (min-width: 750px) {
  .design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "heading heading" "content1 image" "content2 image";
  }

  .design h2 {
    grid-area: heading;
  }

  .design img {
    grid-area: image;
    align-self: center;
    transform: translateX(25%);
  }

  .design section {
    text-align: left;
  }

  .design section:first-child {
    grid-area: content1;
  }

  .design section:last-child {
    grid-area: content2;
  }
}

/* >Infrastructure section */
.infrastructure {
  margin-top: 28rem;
  height: clamp(600px, 85vh, 900px);
  color: var(--color-secondary);
  border-radius: 0 100px;
  background: url(/images/bg-pattern-circles.svg), var(--gradient-bg);
  background-repeat: no-repeat;
  background-size: 160%, 100%;
  background-position: -11rem -25rem, 0;
}

.infrastructure img {
  transform: translateY(-50%);
}

.infrastructure section {
  transform: translateY(-85%);
}

@media screen and (min-width: 750px) {
  .infrastructure {
    display: flex;
    justify-content: center;
    margin-top: 0;
    height: clamp(380px, 40vh, 600px);

    text-align: left;

    background-size: 68%, 100%;
    background-position: -16rem -45rem, 0;
  }

  .infrastructure img {
    height: max-content;
    transform: translateY(-10%);
  }

  .infrastructure section {
    transform: translateY(0);
    align-self: center;
  }
}

/* >Feature section */
.features {
  margin: 5rem auto;
}

/* >Footer */
footer {
  margin-top: 8rem;
  padding: 7rem 0 3rem;
  border-top-right-radius: 100px;
  color: var(--color-secondary);
  background-color: var(--color-footer-bg);
}

footer ul {
  margin: 5rem 0;
}

footer ul li {
  margin: 4rem 0;
}

footer ol {
  margin: 2.5rem 0;
  color: var(--color-text-footer);
}

footer ol li {
  margin: 1rem 0;
}
